<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tretiakoff.sifg2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PathologyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EntryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MessageListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DoctorListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DoctorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NotFoundActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>